<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Owners&Pets</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")    
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/Scripts/controllers.js")
</head>
<body>
    @RenderBody()
    <div ng-view=""></div>
</body>
</html>